<div class="container">

<div class="col-md-8">
  <p>
    <br />
    <br />
<h3><strong>User Detail</strong></h3>

<%= simple_form_for @user do |f| %>
<%= f.input :email %>
<%= f.input :user_name %>
<%= select_tag :bank,     options_for_select([['Wells Fargo',"wells"],['Fidelity',"fidelity"],['Charles Schwab',"schwab"]])%>
<%= f.input :bank_user_name %>
<%= f.input :bank_password %>
<%= f.submit "Submit".html_safe, class: "btn btn-danger btn-large" %>
<% end %>
