<div class="container">
  <div class="col-xs-12">
  <h1 style="color:red; font-family: 'Roboto', sans-serif;"><%= @user.try(:user_name)%></h1>
  </div>
<div class="col-md-4">
<%= @user.try(:token_id) %>


<%= link_to 'Add External Accounts', user_api_accounts_path(@user), class:'btn btn-default btn-large' %>
</div>

<div class="col-md-4">
</div>
<div class="col-md-4">
  <p>
<h3 style="font-family: 'Roboto', sans-serif;"><strong>Accounts</strong></h3>

</p>
<div class ="table-responsive">
  <table class="table table-hover">

    <tr>
      <th>Account Name</th>
      <th>Balance</th>
      <th>Projected Balance</th>
    </tr>
    <% @user.accounts.each do |account| %>
      <tr>
        <td><%=account.account_name %></td>
        <td><%=account.real_balance %></td>
        <td><%=account.calc_balance %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <p>
<h3 style="font-family: 'Roboto', sans-serif;"><strong>Transactions</strong></h3>

</p>
