<div class="container">

  <div class="col-xs-12">
  <h1><%= @user.try(:user_name)%></h1>
  </div>
<div class="col-md-4">

<% if @user.accounts.empty? %>
<%= link_to 'Add External Accounts', user_api_accounts_path(@user), class:'btn btn-default btn-large' %>
<% end %>



</div>

<div class="col-md-4">
</div>
<div class="col-md-8">
  <p>
<h3><strong>Accounts</strong></h3>

</p>
<div class ="table-responsive">
  <table class="table table-hover">

    <tr>
      <th>Account Name</th>
      <th>Balance</th>
      <th>Projected Balance</th>
    </tr>
    <% @user.accounts.each do |account| %>
      <% if account.real_balance != 0 %>
      <tr>
        <td><%=link_to account.account_name, user_account_path(@user, account.id) %></td>
        <td><<%=link_to number_to_currency(account.real_balance), user_account_path(@user, account.id) %></td>
        <td><%=link_to number_to_currency(account.calc_balance) , user_account_path(@user, account.id) %></td>
        <td><%= link_to 'Add Transaction', new_user_account_transaction_path(account.user_id,account.id, @transaction), class:'btn btn-default btn-large' %>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
  <p>
<h3 style="font-family: 'Roboto', sans-serif;"><strong></strong></h3>

</p>
