<div class="container">

  <div class="col-xs-12">
  <h1><%= @user.try(:user_name)%></h1>
  </div>
<div class="col-md-4">

</div>

<div class="col-md-4">
</div>
<div class="col-md-8">
  <p>
<h3><strong>Accounts</strong></h3>

</p>
<div class ="table-responsive">
  <table class="table table-hover">

    <tr>
      <th>Account Name</th>
      <th>Balance</th>
      <th>Projected Balance</th>
    </tr>
    <% @user.accounts.each do |account| %>
      <% if account.real_balance != 0 %>
      <tr>
        <td><%=link_to account.account_name, user_account_path(@user, account.id) %></td>
        <td><%=link_to number_to_currency(account.real_balance), user_account_path(@user, account.id) %></td>
        <td><%=link_to number_to_currency(account.calc_balance) , user_account_path(@user, account.id) %></td>
        <td><%= link_to 'Add Transaction', new_user_account_transaction_path(account.user_id,account.id, @transaction), class:'btn btn-default btn-large' %>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
  <p>

<h3><strong>Transactions to Review</strong></h3>
<div class ="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Date</th>
      <th>Account</th>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    <% @user.accounts.each do |acct| %>
      <% acct.transactions.each do |transaction| %>
        <% if transaction.date <= Date.today %>
            <tr>
                <td><%=transaction.date %></td>
                <td><%=transaction.account.account_name  %></td>
                <td><%=transaction.description %></td>
                <td><%=number_to_currency(transaction.amount) %></td>
                <td><%=link_to 'Delete', [@user, acct, transaction], method: :delete, data: {confirm: 'Are you sure?' },class:'btn btn-default btn-large'%></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
  </table>
</div>

</p>
